<!DOCTYPE html><html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" class=" template es5date formattribute fetch localstorage sessionstorage"><head>
                <title>Home Page | Washington State University Parking</title>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="version" content="AIMS Web 9.0.42.10h">
<meta name="copyright" content="2017 EDC Corporation">

<link rel="stylesheet" type="text/css" href="https://parking.wsu.edu/resources/index.php?cmd=get_css&amp;css=common.css&amp;version=7835f4eb3f05bc408c8b2828a1dcdc20">
    <link rel="stylesheet" type="text/css" href="https://parking.wsu.edu/resources/index.php?cmd=get_css&amp;css=home.css&amp;version=7835f4eb3f05bc408c8b2828a1dcdc20">

<style type="text/css">
    </style>

<script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js" nonce=""></script><script type="text/javascript" async="" src="https://www.googletagmanager.com/gtag/js?id=G-2LEH1404ZG&amp;cx=c&amp;gtm=4e62b1h1" nonce=""></script><script type="text/javascript" nonce="" crossorigin="anonymous">    var URL_ROOT = 'https://parking.wsu.edu/';
    var SERVER_TIMEZONE = 'America/Los_Angeles';
    </script>
<link rel="shortcut icon" type="image/png" href="https://parking.wsu.edu/resources/index.php?cmd=get_favicon">

        <!-- Global site tag (gtag.js) - Google Analytics -->
<script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-1982230-4" type="text/javascript" nonce="" crossorigin="anonymous"></script>
    <script type="text/javascript" nonce="" crossorigin="anonymous">        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-1982230-4');
            </script>
    </head>
    <body class="">
        
        <a class="skip_to_main_content btn btn-primary" href="#main_content">
    Skip to main content</a>

<header aria-label="Page Header">
    <div id="header" class="">    <div id="upper_header">
        <div class="container">
            <div class="row">
                <div id="upper_left_header" class="col-xs-6 col-sm-7">
                    <a href="https://parking.wsu.edu/">
                        <div class="logo_container single_image_header">
    <img id="site_logo" src="https://parking.wsu.edu/resources/index.php?cmd=get_site_logo" alt="">
</div>                    </a>
                </div>
                <div id="upper_right_header" class="col-xs-6 col-sm-5 text-right">
                    <a id="shopping_cart_summary" href="https://parking.wsu.edu//cart/index.php" class="aria-tooltip " aria-label="Shopping Cart " data-original-title="" title="">
                        
                        <div class=" icon icon-black"><div class=" sprite-image icon-shopping_cart" aria-hidden="true"></div></div>
                        
                    </a>
                                            
                            
                                <button type="button" id="login_logout_link" data-cmd="login">Login</button>
                            
                        
                                        
                                    </div>
            </div>
        </div>
    </div>
    <div id="lower_header">
                <div class="container">
            <div class="row">
                
            </div>
        </div>
    </div>
</div>
            <div id="countdown_container" data-show_button_at="90" role="status">    
</div>

<script type="text/template" nonce="" crossorigin="anonymous" id="countdown_template">    <% if (num_locks > 0) { %>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <% if (isoDateToMilliseconds(expire_time) > Date.now()) { %>
                        <span id="countdown_time"></span>
                        <span id="countdown_description">remaining to complete order</span>
                    <% } else { %>
                        Order Time Expired                    <% } %>
                                            <button class="extend_btn btn btn-default btn-xs">I need more time</button>
                                    </div>
            </div>
        </div>
    <% } %>
</script>

<div id="items_removed_from_cart_by_lock_dialog" class="modal fade " role="alertdialog" tabindex="0">
    <div class="modal-dialog">
        <div class="modal-content">
                            <div class="modal-header">
                                            <button type="button" class="close aria-tooltip" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                                        <div class="h4 modal-title" role="heading">Items removed from cart</div>
                </div>
                                        <div class="modal-body" role="main">
                    Item(s) have become unavailable and have been removed from your cart
                </div>
                                        <div class="modal-footer" role="navigation">
                                            <button type="button" class="btn btn-default close-button" data-dismiss="modal">Close</button>
                                        
                </div>
                    </div>
    </div>
</div>    </header>

<script type="text/template" nonce="" crossorigin="anonymous" id="header_template">    <div id="upper_header">
        <div class="container">
            <div class="row">
                <div id="upper_left_header" class="col-xs-6 col-sm-7">
                    <a href="https://parking.wsu.edu/">
                        <div class="logo_container single_image_header">
    <img id="site_logo" src="https://parking.wsu.edu/resources/index.php?cmd=get_site_logo" alt=""/>
</div>                    </a>
                </div>
                <div id="upper_right_header" class="col-xs-6 col-sm-5 text-right">
                    <a id="shopping_cart_summary"
                       href="https://parking.wsu.edu//cart/index.php"
                       class="aria-tooltip <% if(cart.num_cart_items > 0) { %>text-primary<% } %>"
                       aria-label="Shopping Cart <% if (cart.num_cart_items > 0) { %>contains <%= cart.num_cart_items %> item<% if (cart.num_cart_items > 1) { %>s<% } %> for <%= formatDecimal128Currency(cart.total) %> total<% } %>">
                        <% if (cart.num_cart_items > 0) { %>
                            <span id="num_cart_items" class="badge" aria-hidden="true"><%= cart.num_cart_items %></span>
                        <% } %>
                        <div class=" icon icon-black"><div class=" sprite-image icon-shopping_cart" aria-hidden="true"></div></div>
                        <% if (cart.num_cart_items > 0) { %>
                            <span id="cart_total" aria-hidden="true"><%= formatDecimal128Currency(cart.total) %></span>
                        <% } %>
                    </a>
                                            <% if (user.logged_in) { %>
                            <% if (user.can_logout) { %>
                                <button type="button" id="login_logout_link" data-cmd="logout">Logout</button>
                            <% } %>
                        <% } else { %>
                            <% if (!user.pvm_logged_in) { %>
                                <button type="button" id="login_logout_link" data-cmd="login">Login</button>
                            <% } %>
                        <% } %>
                                        <% if(user.pvm_logged_in) { %>
                        <button type="button" id="login_logout_link" data-cmd="logout_pvm">Logout</button>
                    <% } %>
                                    </div>
            </div>
        </div>
    </div>
    <div id="lower_header">
                <div class="container">
            <div class="row">
                <% if (user.logged_in) { %>
                    <div class="col-xs-1 mobile_menu_container">
                        <button id="mobile_menu"
                                class="aria-tooltip"
                                aria-expanded="false"
                                aria-label="Toggle Main Menu">
                            <span class="glyphicon glyphicon-menu-hamburger"></span>
                        </button>
                    </div>
                    <div id="logged_in_as" class="col-xs-11 text-right">
                        <% if (account.p_contact != null && ((account.p_contact.first_name != null) || (account.p_contact.last_name != null))) { %>
                            Logged in as <%- account.p_contact.first_name %> <%- account.p_contact.last_name %>
                        <% } else if(account.account_number != null) { %>
                            Logged in as account # <%- account.account_number %>
                        <% } %>
                    </div>
                <% } %>
            </div>
        </div>
    </div>
</script>
        
        <div id="main_content_container" class="container">
            <div class="row">
                <div id="menu_placeholder" class="col-lg-3">    
</div>



<script type="text/template" nonce="" crossorigin="anonymous" id="menu_template">    <%
        if (user.logged_in && !$("#pvm_login_content").length) {
            $("#main_content").removeClass('col-md-12').addClass("col-lg-9");
    %>
        <nav id="menu" class="navbar">
            <ul class="nav nav-pills nav-stacked">
                <li class="<% if (url === URL_ROOT ) { %>active<% } %>" role="presentation">
                    <a href="https://parking.wsu.edu/">
                        <div class=" icon"><div class=" sprite-image icon-account" aria-hidden="true"></div></div>
                        <span id="account_menu_label">Account</span>
                    </a>
                </li>
                                    <li class="<% if (url === URL_ROOT + 'vehicles/index.php' ) { %>active<% } %>" role="presentation">
                        <a href="https://parking.wsu.edu/vehicles/index.php">
                            <div class=" icon"><div class=" sprite-image icon-account" aria-hidden="true"></div></div>
                            <span id="vehicles_menu_label">Vehicles</span>
                            <% if (account_vehicles.length > 0) { %>
                                <span class="badge"><%= account_vehicles.length %></span>
                            <% } %>
                        </a>
                    </li>
                                                    <li class="<% if (url === URL_ROOT + 'tickets/index.php' ) { %>active<% } %>" role="presentation">
                        <a href="https://parking.wsu.edu/tickets/index.php">
                            <div class=" icon"><div class=" sprite-image icon-ticket" aria-hidden="true"></div></div>
                            <span id="tickets_menu_label">Tickets</span>
                            <% if (unpaid_account_tickets.tickets.length > 0) { %>
                            <span class="badge"><%= unpaid_account_tickets.tickets.length %></span>
                            <% } %>
                        </a>
                    </li>
                                                    <li class="<% if (url === URL_ROOT + 'permits/index.php' ) { %>active<% } %>" role="presentation">
                        <a href="https://parking.wsu.edu/permits/index.php">
                            <div class=" icon"><div class=" sprite-image icon-permit" aria-hidden="true"></div></div>
                            <span id="permits_menu_label">Permits</span>
                            <% if (active_account_permits_count > 0) { %>
                            <span class="badge"><%= active_account_permits_count %></span>
                            <% } %>
                        </a>
                    </li>
                                                                                
                <% if(creditCardsEnabled) { %>
                    <li class="<% if (url === URL_ROOT + 'creditcards/index.php' ) { %>active<% } %>" role="presentation">
                        <a href="https://parking.wsu.edu/creditcards/index.php">
                            <div class=" icon"><div class=" sprite-image icon-credit_card" aria-hidden="true"></div></div>
                            <span id="wallet_menu_label">My Wallet</span>
                            <% if (typeof(credit_cards) !== "undefined" && credit_cards.length > 0) { %>
                            <span class="badge"><%= credit_cards.length %></span>
                            <% } %>
                        </a>
                    </li>
                <% } %>
            </ul>
        </nav>
    <% } %>
</script>                <main id="main_content" class="col-md-12" aria-label="Main Content">
                    <div class="row">
                        

<div id="home_screen">
    
    
            <div class="col-xs-12 no_news ">
                        
<div id="shortcut_buttons" class="shortcut_buttons_container ">    <nav class="container" aria-label="Shortcut Buttons">
        <div class="row">
                                                                                                                                                    
                                                    
                                <div id="ACCOUNT_VIEW" class="col-md-3 col-xs-6" role="presentation">
                                    <a class="btn btn-default" href="https://parking.wsu.edu/?cmd=view_account">
                                        <div class=" icon icon-primary icon-48"><div class=" sprite-image icon-account" aria-hidden="true"></div></div>
                                        <div id="ACCOUNT_VIEW_label" class="h4">WSU Pullman Parking Account</div>
                                        <div id="ACCOUNT_VIEW_description" class="small">View and manage your parking account.</div>
                                    </a>
                                </div>
                            
                                                                                                                                                                                                                
                                                    
                                                                                                                                                                                                                                                                                                                                
                                                                                                                                                                                                                
                                                    
                                <div id="TICKET_LOOKUP" class="col-md-3 col-xs-6" role="presentation">
                                    <a class="btn btn-default" href="https://parking.wsu.edu/tickets/?cmd=search">
                                        <div class=" icon icon-primary icon-48"><div class=" sprite-image icon-search" aria-hidden="true"></div></div>
                                        <div id="TICKET_LOOKUP_label" class="h4">Look Up A Ticket</div>
                                        <div id="TICKET_LOOKUP_description" class="small">Search, pay or appeal a parking ticket.</div>
                                    </a>
                                </div>
                            
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    
                                                    
                                <div id="PERMIT_REQUEST" class="col-md-3 col-xs-6" role="presentation">
                                    <a class="btn btn-default" href="https://parking.wsu.edu/permits/?cmd=new">
                                        <div class=" icon icon-primary icon-48"><div class=" sprite-image icon-permit" aria-hidden="true"></div></div>
                                        <div id="PERMIT_REQUEST_label" class="h4">Order Permits</div>
                                        <div id="PERMIT_REQUEST_description" class="small">Order a new permit</div>
                                    </a>
                                </div>
                            
                                                                                                                                                                                                                                                                                                                                                                                                                                                        
                                                    
                                                                                                                                                                                                                                                                    
                                                    
                                                                                                                                                                                                                                                                    
                                                    
                                <div id="PERMIT_EVENT_PERMIT" class="col-md-3 col-xs-6" role="presentation">
                                    <a class="btn btn-default" href="https://parking.wsu.edu/permits/?cmd=new_event">
                                        <div class=" icon icon-primary icon-48"><div class=" sprite-image icon-event" aria-hidden="true"></div></div>
                                        <div id="PERMIT_EVENT_PERMIT_label" class="h4">Purchase Event Permit</div>
                                        <div id="PERMIT_EVENT_PERMIT_description" class="small">Lookup and Purchase a Parking Permit for an Event</div>
                                    </a>
                                </div>
                            
                                                                                                                                                                                                                                                                                                                                                                                        
                                                    
                                                                                                                                                                                                                                                                                                                                
                                                                                                                                                                                                                                                                            
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                
                                                                                                                                                            
                                                    
                                <div id="AMP_VIEW" class="col-md-3 col-xs-6" role="presentation">
                                    <a class="btn btn-default" href="https://aimsmobilepay.com">
                                        <div class=" icon icon-primary icon-48"><div class=" sprite-image icon-amp" aria-hidden="true"></div></div>
                                        <div id="AMP_VIEW_label" class="h4">Hourly &amp; Daily Parking</div>
                                        <div id="AMP_VIEW_description" class="small">Use AIMS Mobile Pay (AMP) to purchase hourly or daily parking.</div>
                                    </a>
                                </div>
                            
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            
                                                    
                                <div id="664b87f2e6d41" class="col-md-3 col-xs-6" role="presentation">
                                    <a class="btn btn-default" href="https://transportation.wsu.edu/general-information/">
                                        <div class=" icon icon-primary icon-48"><div class=" sprite-image icon-help" aria-hidden="true"></div></div>
                                        <div id="664b87f2e6d41_label" class="h4">Parking Information</div>
                                        <div id="664b87f2e6d41_description" class="small">View Parking Information</div>
                                    </a>
                                </div>
                            
                                                                                                                                                            
                                                    
                                <div id="68927ca7fd20c" class="col-md-3 col-xs-6" role="presentation">
                                    <a class="btn btn-default" href="https://transportation.wsu.edu/parking-maps/">
                                        <div class=" icon icon-primary icon-48"><div class=" sprite-image icon-earth_globe" aria-hidden="true"></div></div>
                                        <div id="68927ca7fd20c_label" class="h4">Campus Parking Maps</div>
                                        <div id="68927ca7fd20c_description" class="small">WSU Pullman Campus Parking Maps</div>
                                    </a>
                                </div>
                            
                                                                                                                                                            
                                                    
                                <div id="68927e06fd20d" class="col-md-3 col-xs-6" role="presentation">
                                    <a class="btn btn-default" href="https://wpcdn.web.wsu.edu/wp-fais/uploads/sites/216/2025/05/Parking-Permit-Refund-Policy.pdf">
                                        <div class=" icon icon-primary icon-48"><div class=" sprite-image icon-fee" aria-hidden="true"></div></div>
                                        <div id="68927e06fd20d_label" class="h4">WSU Pullman Annual Parking Permit Refund Policy</div>
                                        <div id="68927e06fd20d_description" class="small">WSU Pullman campus annual parking permit refund policy.</div>
                                    </a>
                                </div>
                            
                                                                                </div>
    </nav>
</div>

<script type="text/template" nonce="" crossorigin="anonymous" id="shortcut_buttons_template">    <nav class="container" aria-label="Shortcut Buttons">
        <div class="row">
                                                                                                                                                    
                                                    <% if ((user.logged_in && false) ||
                                (!user.logged_in && true)) { %>
                                <div id="ACCOUNT_VIEW" class="col-md-3 col-xs-6"
                                     role="presentation">
                                    <a class="btn btn-default" href="https://parking.wsu.edu/?cmd=view_account">
                                        <div class=" icon icon-primary icon-48"><div class=" sprite-image icon-account" aria-hidden="true"></div></div>
                                        <div id="ACCOUNT_VIEW_label" class="h4">WSU Pullman Parking Account</div>
                                        <div id="ACCOUNT_VIEW_description" class="small">View and manage your parking account.</div>
                                    </a>
                                </div>
                            <% } %>
                                                                                                                                                                                                                
                                                    <% if ((user.logged_in && true) ||
                                (!user.logged_in && false)) { %>
                                <div id="ACCOUNT_EDIT_CONTACT" class="col-md-3 col-xs-6"
                                     role="presentation">
                                    <a class="btn btn-default" href="https://parking.wsu.edu/contacts/">
                                        <div class=" icon icon-primary icon-48"><div class=" sprite-image icon-contact" aria-hidden="true"></div></div>
                                        <div id="ACCOUNT_EDIT_CONTACT_label" class="h4">Edit Contact Information</div>
                                        <div id="ACCOUNT_EDIT_CONTACT_description" class="small">Update or edit contact information</div>
                                    </a>
                                </div>
                            <% } %>
                                                                                                                                                                                                                                                                                                                                
                                                                                                                                                                                                                
                                                    <% if ((user.logged_in && true) ||
                                (!user.logged_in && true)) { %>
                                <div id="TICKET_LOOKUP" class="col-md-3 col-xs-6"
                                     role="presentation">
                                    <a class="btn btn-default" href="https://parking.wsu.edu/tickets/?cmd=search">
                                        <div class=" icon icon-primary icon-48"><div class=" sprite-image icon-search" aria-hidden="true"></div></div>
                                        <div id="TICKET_LOOKUP_label" class="h4">Look Up A Ticket</div>
                                        <div id="TICKET_LOOKUP_description" class="small">Search, pay or appeal a parking ticket.</div>
                                    </a>
                                </div>
                            <% } %>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    
                                                    <% if ((user.logged_in && true) ||
                                (!user.logged_in && true)) { %>
                                <div id="PERMIT_REQUEST" class="col-md-3 col-xs-6"
                                     role="presentation">
                                    <a class="btn btn-default" href="https://parking.wsu.edu/permits/?cmd=new">
                                        <div class=" icon icon-primary icon-48"><div class=" sprite-image icon-permit" aria-hidden="true"></div></div>
                                        <div id="PERMIT_REQUEST_label" class="h4">Order Permits</div>
                                        <div id="PERMIT_REQUEST_description" class="small">Order a new permit</div>
                                    </a>
                                </div>
                            <% } %>
                                                                                                                                                                                                                                                                                                                                                                                                                                                        
                                                    <% if ((user.logged_in && true) ||
                                (!user.logged_in && false)) { %>
                                <div id="PERMIT_GUEST_INVITE" class="col-md-3 col-xs-6"
                                     role="presentation">
                                    <a class="btn btn-default" href="https://parking.wsu.edu/permits/?cmd=new_guest_invite">
                                        <div class=" icon icon-primary icon-48"><div class=" sprite-image icon-permit" aria-hidden="true"></div></div>
                                        <div id="PERMIT_GUEST_INVITE_label" class="h4">Send New Permit Invites</div>
                                        <div id="PERMIT_GUEST_INVITE_description" class="small">Send a new permit invite</div>
                                    </a>
                                </div>
                            <% } %>
                                                                                                                                                                                                                                                                    
                                                    <% if ((user.logged_in && true) ||
                                (!user.logged_in && false)) { %>
                                <div id="PERMIT_CLAIM_INVITE" class="col-md-3 col-xs-6"
                                     role="presentation">
                                    <a class="btn btn-default" href="https://parking.wsu.edu/permits/?cmd=claim_permit_invite">
                                        <div class=" icon icon-primary icon-48"><div class=" sprite-image icon-permit" aria-hidden="true"></div></div>
                                        <div id="PERMIT_CLAIM_INVITE_label" class="h4">Claim Permit Invite</div>
                                        <div id="PERMIT_CLAIM_INVITE_description" class="small">Claim a permit invite</div>
                                    </a>
                                </div>
                            <% } %>
                                                                                                                                                                                                                                                                    
                                                    <% if ((user.logged_in && true) ||
                                (!user.logged_in && true)) { %>
                                <div id="PERMIT_EVENT_PERMIT" class="col-md-3 col-xs-6"
                                     role="presentation">
                                    <a class="btn btn-default" href="https://parking.wsu.edu/permits/?cmd=new_event">
                                        <div class=" icon icon-primary icon-48"><div class=" sprite-image icon-event" aria-hidden="true"></div></div>
                                        <div id="PERMIT_EVENT_PERMIT_label" class="h4">Purchase Event Permit</div>
                                        <div id="PERMIT_EVENT_PERMIT_description" class="small">Lookup and Purchase a Parking Permit for an Event</div>
                                    </a>
                                </div>
                            <% } %>
                                                                                                                                                                                                                                                                                                                                                                                        
                                                    <% if ((user.logged_in && true) ||
                                (!user.logged_in && false)) { %>
                                <div id="VEHICLES_CHANGE_REQUEST" class="col-md-3 col-xs-6"
                                     role="presentation">
                                    <a class="btn btn-default" href="https://parking.wsu.edu/vehicles/?cmd=change_request">
                                        <div class=" icon icon-primary icon-48"><div class=" sprite-image icon-car" aria-hidden="true"></div></div>
                                        <div id="VEHICLES_CHANGE_REQUEST_label" class="h4">Modify Account Vehicles</div>
                                        <div id="VEHICLES_CHANGE_REQUEST_description" class="small">Modify vehicles on your account</div>
                                    </a>
                                </div>
                            <% } %>
                                                                                                                                                                                                                                                                                                                                
                                                                                                                                                                                                                                                                            
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                
                                                                                                                                                            
                                                    <% if ((user.logged_in && true) ||
                                (!user.logged_in && true)) { %>
                                <div id="AMP_VIEW" class="col-md-3 col-xs-6"
                                     role="presentation">
                                    <a class="btn btn-default" href="https://aimsmobilepay.com">
                                        <div class=" icon icon-primary icon-48"><div class=" sprite-image icon-amp" aria-hidden="true"></div></div>
                                        <div id="AMP_VIEW_label" class="h4">Hourly &amp; Daily Parking</div>
                                        <div id="AMP_VIEW_description" class="small">Use AIMS Mobile Pay (AMP) to purchase hourly or daily parking.</div>
                                    </a>
                                </div>
                            <% } %>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            
                                                    <% if ((user.logged_in && true) ||
                                (!user.logged_in && true)) { %>
                                <div id="664b87f2e6d41" class="col-md-3 col-xs-6"
                                     role="presentation">
                                    <a class="btn btn-default" href="https://transportation.wsu.edu/general-information/">
                                        <div class=" icon icon-primary icon-48"><div class=" sprite-image icon-help" aria-hidden="true"></div></div>
                                        <div id="664b87f2e6d41_label" class="h4">Parking Information</div>
                                        <div id="664b87f2e6d41_description" class="small">View Parking Information</div>
                                    </a>
                                </div>
                            <% } %>
                                                                                                                                                            
                                                    <% if ((user.logged_in && true) ||
                                (!user.logged_in && true)) { %>
                                <div id="68927ca7fd20c" class="col-md-3 col-xs-6"
                                     role="presentation">
                                    <a class="btn btn-default" href="https://transportation.wsu.edu/parking-maps/">
                                        <div class=" icon icon-primary icon-48"><div class=" sprite-image icon-earth_globe" aria-hidden="true"></div></div>
                                        <div id="68927ca7fd20c_label" class="h4">Campus Parking Maps</div>
                                        <div id="68927ca7fd20c_description" class="small">WSU Pullman Campus Parking Maps</div>
                                    </a>
                                </div>
                            <% } %>
                                                                                                                                                            
                                                    <% if ((user.logged_in && true) ||
                                (!user.logged_in && true)) { %>
                                <div id="68927e06fd20d" class="col-md-3 col-xs-6"
                                     role="presentation">
                                    <a class="btn btn-default" href="https://wpcdn.web.wsu.edu/wp-fais/uploads/sites/216/2025/05/Parking-Permit-Refund-Policy.pdf">
                                        <div class=" icon icon-primary icon-48"><div class=" sprite-image icon-fee" aria-hidden="true"></div></div>
                                        <div id="68927e06fd20d_label" class="h4">WSU Pullman Annual Parking Permit Refund Policy</div>
                                        <div id="68927e06fd20d_description" class="small">WSU Pullman campus annual parking permit refund policy.</div>
                                    </a>
                                </div>
                            <% } %>
                                                                                </div>
    </nav>
</script>        </div>
        <div class="col-xs-12">
            </div>

    </div>
                    </div>
                </main>
            </div>
        </div>

        <div id="sub_content" class="container">
            
        </div>

        <script src="https://parking.wsu.edu/resources/js/common.js?version=7835f4eb3f05bc408c8b2828a1dcdc20" type="text/javascript" nonce="" crossorigin="anonymous" integrity="sha256-rlUr187MIpsEQc34QcXCF9SXWNGDWGQFPIS2CEwIP6E="></script>                    <script src="https://parking.wsu.edu/resources/js/home.js?version=7835f4eb3f05bc408c8b2828a1dcdc20" type="text/javascript" nonce="" crossorigin="anonymous" integrity="sha256-XbY7uEUuO+Uktl1uqofY9IkyBA7i5BFjkc/cGEHBsDM="></script>        
        
        <footer class="footer" aria-label="Page Footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-7">
                                                                                        <a href="https://app.leg.wa.gov/WAC/default.aspx?dispo=true&amp;cite=504-15" target="_blank">Campus Parking and Traffic Regulations for WSU Pullman</a>
                                                                                                                                    <a href="https://transportation.wsu.edu/lpr-privacy-policy/" target="_blank">License Plate Recognition (LPR) Privacy Policy</a>
                                                                        </div>
            <div class="col-xs-12 col-sm-5 text-right">
                                        9.0.42.10h © <a id="copyright" href="http://www.wsu.edu">Washington State University</a>
                            </div>
        </div>
    </div>
</footer>

<div id="form_validation_error_container"></div>

<script id="form_validation_error_template" type="text/template">

    
<div id="form_validation_error" class="modal fade "
     data-keyboard="false" data-backdrop="static"     role="alertdialog" tabindex="0">
    <div class="modal-dialog">
        <div class="modal-content">
                            <div class="modal-header">
                                        <div class="h4 modal-title" role="heading">Invalid data detected</div>
                </div>
                                        <div class="modal-body" role="main">
                    An error was found in your form, please ensure all required fields are populated before continuing.
                </div>
                                </div>
    </div>
</div>
</script><div id="please_wait_dialog_container">

    
    

</div>
<script id="please_wait_dialog_template" type="text/template">

    
    
<div id="<%= uniqid() %>" class="modal fade "
     data-keyboard="false" data-backdrop="static"     role="alertdialog" tabindex="0">
    <div class="modal-dialog">
        <div class="modal-content">
                            <div class="modal-header">
                                        <div class="h4 modal-title" role="heading"><%if (isset(title)) { %><%- title %><% } else { %>Please Wait...<% } %></div>
                </div>
                                        <div class="modal-body" role="main">
                            <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-primary active" role="progressbar" style="width:100%"></div>
        </div>
    
                </div>
                                </div>
    </div>
</div>
</script>
        
        <div id="common_cart_errors">
    <input type="hidden" name="cart_error_present" value="false" style="">
    <input type="hidden" name="cart_error_missing_afeeid" value="Missing required field: afeeid" style="">
    <input type="hidden" name="cart_error_fee_not_found" value="Unable to add fee to the shopping cart, no matching fee found" style="">
    <input type="hidden" name="cart_error_fee_zero_balance" value="Unable to add fee to the shopping cart, as the fee has a $0 balance" style="">
    <input type="hidden" name="cart_error_fee_not_allowed" value="Unable to add fee to the shopping cart, fee payment not allowed" style="">
    <input type="hidden" name="cart_error_fee_logged_off" value="Unable to add fee to the shopping cart, as you are not signed in" style="">
    <input type="hidden" name="cart_error_fee_no_account" value="Unable to add fee to the shopping cart, as your account has not yet fully saved, try again later." style="">
    <input type="hidden" name="cart_error_fee_wrong_account" value="Unable to add fee to the shopping cart, as it doesn't belong to your account" style="">

    <input type="hidden" name="cart_error_missing_ticketid" value="Missing required field: ticketid" style="">
    <input type="hidden" name="cart_error_ticket_pending_appeal" value="Your ticket is currently pending an appeal. Cannot pay off ticket at this time." style="">
    <input type="hidden" name="cart_error_ticket_not_found" value="Unable to add ticket to shopping cart, as it was not found" style="">
    <input type="hidden" name="cart_error_ticket_unauthorized_account" value="Unable to add ticket to shopping cart, as you are not authorized for this account" style="">
    <input type="hidden" name="cart_error_ticket_zero_balance" value="Unable to add ticket to shopping cart, as it has a $0 balance" style="">
    <input type="hidden" name="cart_error_cart_contains_pay_plan" value="Skipping adding new ticket to the shopping cart, as the cart contains a payment plan payment" style="">
    <input type="hidden" name="cart_error_cart_contains_ticket" value="Skipping adding payment plan to the shopping cart, as the cart contains a ticket" style="">

    <input type="hidden" name="cart_error_pay_plan_not_found" value="Unable to add payment plan to shopping cart, as it was not found" style="">
    <input type="hidden" name="cart_error_pay_plan_unauthorized_account" value="Unable to add payment plan to shopping cart, as you are not authorized for this account" style="">
    <input type="hidden" name="cart_error_no_payment_due" value="Unable to add payment plan to shopping cart, as it has no payments due" style="">

    <input type="hidden" name="cart_error_permit_not_found" value="Unable to add permit to shopping cart, as it was not found" style="">
    <input type="hidden" name="cart_error_permit_wrong_account" value="Unable to add permit to shopping cart, as it doesn't belong to your account" style="">
    <input type="hidden" name="cart_error_permit_logged_off" value="Unable to add permit to shopping cart, as you are not signed in" style="">
    <input type="hidden" name="cart_error_permit_zero_balance" value="Unable to add permit to shopping cart, as it has a $0 balance" style="">
    <input type="hidden" name="cart_error_start_end_req" value="Unable to add permit to shopping cart. This permit type requires a start and end date." style="">
    <input type="hidden" name="cart_error_res_street_cap" value="Unable to add permit to shopping cart, as doing so would exceed the residential street permit purchase capacity." style="">
    <input type="hidden" name="cart_error_invalid_res_street" value="Unable to add permit to shopping cart, as this account does not belong to a valid resident street." style="">
    <input type="hidden" name="cart_error_no_contact_address" value="Unable to add permit to shopping cart, as this account does not have a contact address." style="">
    <input type="hidden" name="cart_error_permit_no_payment" value="Unable to add permit to shopping cart, as this type of permit is not allowed for payment online." style="">
    <input type="hidden" name="cart_error_permit_no_account" value="Unable to add permit to shopping cart, as your account has not yet fully saved, try again later." style="">

    <input type="hidden" name="cart_error_renewal_logged_off" value="Unable to add permit to shopping cart. This permit type is only available when logged in." style="">
    <input type="hidden" name="cart_error_renewal_eligible" value="Unable to add permit to shopping cart. This permit is not eligible for renewal." style="">
    <input type="hidden" name="cart_error_renewal_nonauth" value="Unable to add permit to shopping cart. This non-authenticated permit is not eligible for renewal." style="">
    <input type="hidden" name="cart_error_user_select_dates" value="Unable to add permit to shopping cart. This permit type requires user-selected start and end dates. Deselect the 'Unique Purchases per' option in AIMS Admin --&gt; Permits --&gt; Res. St. Search Permit Types to remove date selection requirement." style="">
    <input type="hidden" name="cart_error_insufficient_vehicle_selection" value="Error requesting permit. Insufficient vehicle selection" style="">

    <input type="hidden" name="cart_error_invalid_vehicle_year" value="Error requesting permit. Invalid vehicle year, must be between 1900 and 2050" style="">

    <input type="hidden" name="cart_error_event_not_found" value="Unable to add event payment to shopping cart, as it was not found" style="">
    <input type="hidden" name="cart_error_event_unauthorized_account" value="Unable to add event payment to shopping cart, as it doesn't belong to your account" style="">
    <input type="hidden" name="cart_error_event_zero_balance" value="Unable to add event payment to shopping cart, as it has a $0 balance" style="">
    <input type="hidden" name="cart_error_event_pending" value="Unable to add event payment to shopping cart, as this event is in pending status" style="">

    <input type="hidden" name="cart_error_different_agency" value="Unable to add item as the agency id differs from the agency id of items in the cart" style="">
    <input type="hidden" name="cart_error_different_agency_group" value="Unable to add items as the agency id differs between individual items" style="">
    <input type="hidden" name="cart_error_different_agency_group_payplan" value="Unable to add payplan to shopping cart as the tickets / fees on the payplan are not all issued from the same agency" style="">

    
<div id="common_cart_error_modal" class="modal fade " role="alertdialog" tabindex="0">
    <div class="modal-dialog">
        <div class="modal-content">
                            <div class="modal-header">
                                            <button type="button" class="close aria-tooltip" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                                        <div class="h4 modal-title" role="heading">Error</div>
                </div>
                                        <div class="modal-body" role="main">
                    
                </div>
                                        <div class="modal-footer" role="navigation">
                                            <button type="button" class="btn btn-default close-button" data-dismiss="modal">Close</button>
                                        
                </div>
                    </div>
    </div>
</div></div>
    
</body></html>